.grid-wrapper {
    max-width: 500px;
}
.grid {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.turn-highlight {
    color: white;
}

.reset {
    padding: 1rem;
    color: white;
    background-color: var(--resetGreen);
    border-radius: 10px;;
    border: none;
    width: 100%;
}